{{#accessoryList}}
    <div class="pd-list-con">
        <div class="banner-cate">
            <a href="#" third-type-id="{{thirdTypeId}}"><img src="../img/banner1.jpg" width="100%" alt="{{thirdName}}"></a>
        </div>
        <div class="pd-list clearfix">
            <div class="pd-list-cate">
                <ul class="clearfix">
                    {{#accessoryList}}
                        <li>
                            <a href="http://item.jd.com/{{sku}}.html" class="pd-item">
                                <div class="pd-pic">

                                    <!--此处使用的默认图片，由于图片的尺寸为百分比，无法固定宽高来占位，在此用默认图片来占位，希望能用懒加载方式来替换默认图片，这样两列产品不会产生错位情况 -->
                                    <img src="http://img30.360buyimg.com/n3/{{imageUrl}}" width="100%" alt="">
                                </div>
                                <div class="pd-title">{{name}}</div>
                                <div class="pd-price">
                                    <span class="pd-price-num"><em class="price-unit">¥</em>{{maPrice}}</span>
                                </div>
                                <div class="feedback">
                                </div>
                            </a>
                        </li>
                    {{/accessoryList}}
                </ul>
            </div>
        </div>
        <div class="pd-list-more"><a href="#">查看更多</a></div>
    </div>
{{/accessoryList}}