{{#accessoryList}}
    <div class="pd-list-con">
        <div class="banner-cate">
            <a href="detail.html?sku={{mainSku}}&thirdTypeId={{thirdTypeId}}" third-type-id="{{thirdTypeId}}"><img src="../img/acc-banner-{{thirdTypeId}}.jpg" width="100%" alt="{{thirdName}}"></a>
        </div>
        <div class="pd-list clearfix">
            <div class="pd-list-cate">
                <ul class="clearfix">
                    {{#accessoryList}}
                        <li>
                            <a href="openApp.jdMobile://virtual?params={'category':'jump','des':'productDetail','skuId':'{{sku}}','sourceType':'h5jingxuan','sourceValue':'brand'}" class="pd-item" data-sku="{{sku}}">
                                <div class="pd-pic">
                        {{#imageUrl}}
                                    <img src="http://img30.360buyimg.com/n2/{{imageUrl}}" width="100%"  alt="" onerror="this.src='../img/default.jpg'">
                        {{/imageUrl}}
                                    {{^imageUrl}}
                                        <img data-src="../img/default.jpg" width="100%" alt="" >
                                    {{/imageUrl}}
                                </div>
                                <div class="pd-title">{{name}}</div>
                                <div class="pd-price">
                                    <span class="pd-price-num"><em class="price-unit">¥</em>{{price}}</span>
                                </div>
                                <div class="feedback">

                                </div>
                            </a>
                        </li>
                    {{/accessoryList}}
                </ul>
            </div>
        </div>
        <div class="pd-list-more"><a href="detail.html?sku={{mainSku}}&thirdTypeId={{thirdTypeId}}" class="pd-more-link">查看更多</a></div>
    </div>
{{/accessoryList}}
{{^accessoryList}}
    <div class="pd-list-con" style="margin-top:20px;text-align:center;">
        <span>暂时未找到相关数据</span>
    </div>
{{/accessoryList}}