<div class="c_comment_box">
    <div class="c_item_tit">服务评价</div>
    <div class="c_item_content">
        {{#evaluate}}
            <p class="c_comment_detail">{{name}}
                <span class="c_sevice_star seviceStar" data-ppid="{{ppid}}" data-pid="{{pid}}" data-subid="{{id}}">
                    {{#listGroup}}
                        <label id="{{id}}" class="selected J_comment_star"></label>
                    {{/listGroup}}
                </span>
            </p>
        {{/evaluate}}
        <p class="c_comment_btn">
            <label for="s1" class="c_btn_submit btnSubmit J_comment_submit">提交</label>
            <input id="s1" type="submit" value="提交">
        </p>
    </div>
</div>