    {{#wareInfo}}
        <li class="pd-item-li" data-lazy="true">
            <a href="openApp.jdMobile://virtual?params={'category':'jump','des':'productDetail','skuId':'{{wareId}}','sourceType':'h5jingxuan','sourceValue':'brand'}" class="pd-item" data-sku="{{wareId}}">
                <div class="pd-pic">
                    <!--此处使用的默认图片，由于图片的尺寸为百分比，无法固定宽高来占位，在此用默认图片来占位，希望能用懒加载方式来替换默认图片，这样两列产品不会产生错位情况 -->
                    <img data-src="{{imageurl}}" width="100%" class="pd-img" alt="">
                    {{#imageUrl}}
                        <img data-src="{{imageurl}}" width="100%" class="pd-img" alt="">
                    {{/imageUrl}}
                    {{^imageUrl}}
                        <img data-src="../img/default.jpg" width="100%" class="pd-img" alt="">
                    {{/imageUrl}}
                </div>
                <div class="pd-title">{{wname}}</div>
                <div class="pd-price">
                    <span class="pd-price-num"><em class="price-unit">¥</em>{{jdPrice}}</span>
                </div>
                <div class="feedback">
                    <span class="percent">好评{{good}}</span>
                    <span class="num">{{totalCount}}人</span>
                </div>
            </a>
        </li>
    {{/wareInfo}}
