<div class="overlay"></div>
<div class="remind_box comfirm_box J_confirm">
        <p>{{msg}}</p>
        <a href="javascript:;" id="J_button_cancel" >取消</a><a href="javascript:;" id="J_button_confirm" >确定</a>
</div>