<div class="overlay"></div>
<div class="call_box">
		<p>{{title}}</p>
		{{#item}}
		<a href="{{href}}" {{&attr}} class="J_button_item">{{title}}</a>
		{{/item}}
		<a href="javascript:;" id="J_button_cancel">取消</a>
</div>