{{#list}}
    <li>
        <a href="javascript:;" class="pd-item">
            <div class="pd-pic">
                <i class="pd-icon icon-praise"></i>
                <img src="http://img30.360buyimg.com/n3/{{imageUrl}}" width="100%" alt="">
            </div>
            <div class="pd-title">{{name}}</div>
            <div class="pd-price">
                <span class="pd-price-num"><em class="price-unit">¥</em>{{price}}</span>
            </div>
            <div class="feedback">

                <span class="num">{{comments}} 好评</span>
            </div>
        </a>
    </li>
{{/list}}
{{^list}}
    <div>
        <strong>No Data :(</strong>
    </div>
{{/list}}
