{{#list}}
    <li id="S-{{sku}}" data-id="{{sku}}" class="pd-item-li" data-lazy="true">
        <a href="
        openApp.jdMobile://virtual?params={'category':'jump','des':'productDetail','skuId':'{{sku}}','sourceType':'h5jingxuan','sourceValue':'brand'}
" class="pd-item" data-sku="{{sku}}">
            <div class="pd-pic">
                <i class="pd-icon"><span class="sales-count">月销{{sales}}<em>+</em></span></i>
                {{#imageUrl}}
                    <img class="pd-img" data-src="http://img30.360buyimg.com/n3/{{imageUrl}}" width="100%" alt="">
                {{/imageUrl}}

                {{^imageUrl}}
                <img class="pd-img" data-src="../img/default.jpg" width="100%" alt="">
                {{/imageUrl}}

            </div>
            <div class="pd-title">{{name}}</div>
            <div class="pd-price">
                <span class="pd-price-num"><em class="price-unit">¥</em>{{price}}</span>
            </div>
            <div class="feedback">
                <span class="num">已有{{comments}}人评价</span>
            </div>
        </a>
    </li>
{{/list}}
{{^list}}
    <div class="pd-item-li-nodata">
        <span>暂时未找到相关数据</span>
    </div>
{{/list}}
