{{#list}}
    <li>
        <a href="#" class="pd-item">
            <div class="pd-pic">
                <i class="pd-icon icon-praise"></i>
                <img src="http://img30.360buyimg.com/n3/{{imageUrl}}" width="100%" alt="">
            </div>
            <div class="pd-title">{{name}}</div>
            <div class="pd-price">
                <span class="pd-price-num"><em class="price-unit">¥</em>{{price}}</span>
            </div>
            <div class="feedback">
                <span class="percent">好评98%</span>
                <span class="num">{{comments}}人</span>
            </div>
        </a>
    </li>
{{/list}}

